---
layout: nil
catagories: [index]
title: Blog
---
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
		<title>{% if page.title %} {{ page.title }} | {% endif %}Josh Wainwright</title>

		<link rel="stylesheet" href="/css/styles.css">
		<link rel="stylesheet" href="/css/fontawesome.css">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	</head>
	<body>
		<div class="wrapper">
			<header>
				{% include nameHeader.html %}
				<p></p>
				{% include sidebarIndex.html %}
				<p></p>

				<ul class="blog_info">
					<li>Recent Posts</li>
					<ul>
						{% for post in site.posts limit: 10 %}
							<li><a href="{{ post.url }}">{{ post.title }}</a></li>
						{% endfor %}
					</ul>

				</ul>

			</header>
			<section>
				<h1 class="blog_title">{{ page.title }}</h1>

				<div class="blog_titles">

					{% for post in site.posts limit: 100000 %}
						<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
						<h3>{{post.date | date_to_long_string }}</h3>
					{% endfor %}

				</div>
			</section>
			<footer>
			</footer>
		</div>
	</body>
</html>
