<ul class="menu">
	{% for page in site.pages %}
		{% for pc in page.categories %}
			{% if pc == "index" %}
				<li><a href="{{ page.url }}">{{ page.title }}</a></li>
					<ul>
					{% if page.title == "Walking" %}
						{% assign sorted_pages = site.pages | sort:"path" %}
						{% for page in sorted_pages %}
							{% for pc in page.categories %}
								{% if pc == "walk" %}
									<li><a href="{{ page.url }}">{{ page.title }}</a></li>
								{% endif %}   <!-- cat-match-p -->
							{% endfor %}  <!-- page-category -->
						{% endfor %}  <!-- page-category -->
					{% endif %}
					</ul>
			{% endif %}
		{% endfor %}  <!-- page-category -->
	{% endfor %}
</ul>
