---
layout: nil
categories: [index]
title: University
---
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
		<title>{% if page.title %} {{ page.title }} | {% endif %}Josh Wainwright</title>

		<link rel="stylesheet" href="/css/styles.css">
		<link rel="stylesheet" href="/css/fontawesome.css">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	</head>
	<body>
		<div class="wrapper">
			<header>
				{% include nameHeader.html %}
				<p></p>

				{% include sidebarUniversity.html %}

			</header>

			<section>
				<script>
					if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari

						xmlhttp=new XMLHttpRequest();

					} else {// code for IE6, IE5

						xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");

					}

					xmlhttp.open("GET","university.xml",false);
					xmlhttp.send();
					xmlDoc=xmlhttp.responseXML;

					var courses=xmlDoc.getElementsByTagName("COURSE");
					for (a=0;a<courses.length;a++) {


						document.write("<h2>");
						document.write(courses[a].getElementsByTagName("TITLE")[0].childNodes[0].nodeValue);
						document.write("<a href=\"");
						document.write(courses[a].getElementsByTagName("TIMETABLE")[0].childNodes[0].nodeValue);
						document.write("\"><h2 style=\"color:#777; font-weight:bold; float:right \"><i class=\"icon-calendar\"></i></h2></a>");
						document.write("</h2>");

						var terms=courses[a].getElementsByTagName("TERM");
						for (b=0;b<terms.length;b++) {

							document.write("<h3>Term ");
							document.write(terms[b].getElementsByTagName("NUMBER")[0].childNodes[0].nodeValue);
							document.write("</h3>");

							document.write("<ul>")
							var modules=terms[b].getElementsByTagName("MODULE");
							for (c=0;c<modules.length;c++){

								document.write("<li id=\"", modules[c].getElementsByTagName("TITLE")[0].childNodes[0].nodeValue.replace(/ /g, "_"), "\"><h3>");
								document.write(modules[c].getElementsByTagName("TITLE")[0].childNodes[0].nodeValue);

								document.write("<a href=\"");
								document.write(modules[c].getElementsByTagName("WEBSITE")[0].childNodes[0].nodeValue);
								document.write("\"> ¶</a></h3></li>");

								document.write("<table>");
								document.write("<tr><th>Due Date</th><th>Worksheet</th><th>Grade</th></tr>");
								var worksheets=modules[c].getElementsByTagName("WORKSHEET");
								for (d=0;d<worksheets.length;d++){

									document.write("<tr>");
										document.write("<td>");
										document.write(worksheets[d].getElementsByTagName("DUE")[0].childNodes[0].nodeValue);
										document.write("</td>");

										document.write("<td><a href=\"");
										document.write(worksheets[d].getElementsByTagName("LINK")[0].childNodes[0].nodeValue);
										document.write("\">");
										document.write(worksheets[d].getElementsByTagName("NAME")[0].childNodes[0].nodeValue);
										document.write("</a></td>");

										document.write("<td>");
										document.write(worksheets[d].getElementsByTagName("GRADE")[0].childNodes[0].nodeValue);
										document.write("</td>");
									document.write("</tr>");

								}
								document.write("</table>")

							}
							document.write("</ul>")

						}

					}

				</script>

			</section>
			<footer>
			</footer>
		</div>
	</body>
</html>
