---
layout: nil
---
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
		<title>{% if page.title %} {{ page.title }} | {% endif %}Josh Wainwright</title>

		<link rel="stylesheet" href="/css/styles.css">
		<link rel="stylesheet" href="/css/fontawesome.css">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	</head>
	<body>
		<div class="wrapper">
			<header>
				{% include nameHeader.html %}
				<p></p>
				{% include sidebarIndex.html %}
				<p></p>

				<ul class="blog_info">
					<li>Recent Posts</li>
					<ul>
						{% for post in site.posts limit: 10 %}
							<li><a href="{{ post.url }}">{{ post.title }}</a></li>
						{% endfor %}
					</ul>

					<li>Tags</li>
					<ul>
						{% for tag in page.tags %}
							<li>{{ tag }}</li>
						{% endfor %}
					</ul>
				</ul>

			</header>
			<section>
				<h1 class="blog_title">{{ page.title }}</h1>
				{{ content }}
			</section>
			<footer>
			</footer>
		</div>
	</body>
</html>
