---
layout: nil
---
<!doctype html>
<html>
	<head>
		{% include headMatter.html %}
	</head>
	<body>
		<div class="wrapper">
			<header>
				{% include nameHeader.html %}
				<p></p>
				{% include sidebarWalks.html %}

			</header>
			<section>
				{% include breadcrumbs.html %}
				<h1>{{ page.title }}</h1>
				<p><img alt="Walk Map" src="{{ page.url | replace:'.html','.png' | replace:'/walking','maps'}}"></p>
				{{ content }}
				<p><img alt="Walk elevation profile" src="{{ page.url | remove:'.html' | replace:'/walking','maps'}}_elev.png"></p>
				<p><a href="{{ page.url | replace:'.html','.gpx' | replace:'/walking','maps'}}">Download gpx files.</p>
			</section>
			<footer>
			</footer>
		</div>
	</body>
</html>
